@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(243, 243, 243);
}

button {
  cursor: pointer;
}
button:hover {
  transform: scale(105%);
  transform: scale(95%);
}

#root {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
}
#root .nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#root .nav .favouriteIcon {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  background-color: rgb(255, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .nav .favouriteIcon img {
  height: 25px;
  filter: invert(100%);
}
#root .searchHome {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#root .searchHome .introText {
  display: flex;
  flex-direction: column;
}
#root .searchHome .introText h4 {
  color: rgb(255, 0, 0);
  font-size: 1.4rem;
}
#root .searchHome .searchBar {
  display: flex;
  width: 100%;
  gap: 5%;
}
#root .searchHome .searchBar input {
  flex: 9;
  height: 30px;
  background-color: rgba(211, 211, 211, 0.317);
  border: none;
  border-radius: 10px;
  padding-left: 3%;
}
#root .searchHome .searchBar button {
  flex: 1;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
  border: none;
  outline: none;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .searchHome .searchBar button img {
  height: 15px;
  filter: invert(100%);
}
#root .searchHome .options {
  display: flex;
  gap: 10px;
}
#root .searchHome .options button {
  background: none;
  border: 2px solid rgba(128, 128, 128, 0.317);
  border-radius: 25px;
  height: 30px;
  width: 70px;
  cursor: pointer;
}
#root .searchHome .options .active {
  background-color: rgb(255, 0, 0);
  border: none;
  color: white;
}
#root .recentContracts {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#root .recentContracts h4 {
  color: rgb(255, 0, 0);
}
#root .recentContracts .contractContainer {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#root .recentContracts .contractContainer::-webkit-scrollbar {
  display: none;
}
#root .recentContracts .contractContainer .card {
  width: 200px;
  height: 150px;
  display: inline-block;
  background-color: white;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}
#root .recentContracts .contractContainer .card:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}
#root .recentContracts .contractContainer .card:active {
  background-color: rgb(255, 0, 0);
  color: white;
}
#root .recentContracts .contractContainer .card .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.75rem;
  justify-content: space-between;
}
#root .recentContracts .contractContainer .card .content div img {
  height: 30px;
  width: 30px;
  background-color: inherit;
  border-radius: 10px;
}
#root .recentContracts .contractContainer .card .content div p {
  width: 100%;
  overflow: hidden;
}
#root .contractsForYou {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
#root .contractsForYou h4 {
  color: rgb(255, 0, 0);
  margin-bottom: 5%;
}
#root .contractsForYou .contractContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#root .contractsForYou .contractContainer .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
#root .contractsForYou .contractContainer .card:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}
#root .contractsForYou .contractContainer .card:active {
  background-color: rgb(255, 0, 0);
  color: white;
}
#root .contractsForYou .contractContainer .card .logo {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .contractsForYou .contractContainer .card .logo img {
  width: 30px;
}
#root .contractsForYou .contractContainer .card .text {
  width: 60%;
}
#root .contractsForYou .contractContainer .card .text p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: end;
}
#root .backButton {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#root .backButton .back {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .backButton .back img {
  width: 25px;
}
#root .infoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5% 0 5% 0;
  gap: 5px;
}
#root .infoSection img {
  height: 40px;
}
#root .infoSection h3 {
  color: rgb(255, 0, 0);
}
#root .infoSection p {
  font-size: 0.75rem;
}
#root .jobNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-top: 5px;
}
#root .jobNav button {
  flex: 1;
  color: white;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 10px;
  color: black;
}
#root .jobNav .active {
  background-color: rgb(255, 0, 0);
  color: white;
}
#root .aboutJob {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 0;
  gap: 10px;
  margin-bottom: 80px;
}
#root .aboutJob h4 {
  color: rgb(255, 0, 0);
}
#root .controls {
  top: 90vh;
  height: 10vh;
  width: 90%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5%;
  background-color: rgb(243, 243, 243);
}
#root .controls .favourite {
  height: 50px;
  width: 50px;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .controls .favourite img {
  height: 35px;
  width: 35px;
}
#root .controls a {
  flex: 1;
  border-radius: 10px;
  background-color: rgb(255, 0, 0);
  height: 50px;
  border: none;
  outline: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .searchInfo {
  margin-bottom: 20px;
}
#root .searchInfo h4 {
  color: rgb(255, 0, 0);
  font-size: 1.2rem;
}
#root .searchInfo p {
  font-size: 0.75rem;
  color: rgb(255, 0, 0);
}
#root .searchControls {
  top: 90vh;
  height: 10vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 243, 243);
  gap: 5%;
}
#root .searchControls button {
  height: 30px;
  width: 30px;
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .searchControls button img {
  height: 20px;
  filter: invert(100%);
}
#root .searchControls button .next {
  transform: rotate(180deg);
}
#root .searchControls .page {
  height: 30px;
  width: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .searchControls .page p {
  color: rgb(255, 0, 0);
}
#root .searchContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 80px;
}
#root .searchContent .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}
#root .searchContent .card .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .searchContent .card .logo img {
  width: 40px;
}
#root .searchContent .card .text {
  width: 60%;
}
#root .searchContent .card .text p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: end;
}

@media screen and (min-width: 800px) {
  #root {
    align-items: center;
    padding-bottom: 10%;
  }
  #root .searchHome {
    width: 50%;
  }
  #root .recentContracts {
    width: 85%;
    align-items: center;
  }
  #root .recentContracts h4 {
    font-size: 2rem;
    width: 100%;
  }
  #root .recentContracts .contractContainer {
    width: 90%;
  }
  #root .contractsForYou {
    width: 85%;
    align-items: center;
  }
  #root .contractsForYou h4 {
    font-size: 2rem;
    width: 100%;
  }
  #root .contractsForYou .contractContainer {
    width: 80%;
  }
  #root .infoSection img {
    height: 90px;
  }
  #root .infoSection h3 {
    font-size: 1.5rem;
  }
  #root .infoSection p {
    font-size: 1.2rem;
  }
  #root .aboutJob {
    align-items: center;
    width: 60%;
  }
  #root .aboutJob h4 {
    width: 100%;
    font-size: 2rem;
  }
  #root .aboutJob p {
    width: 90%;
    line-height: 30px;
  }
  #root .controls {
    width: 40%;
  }
  #root .jobNav {
    width: 50%;
  }
  #root .searchInfo h4 {
    font-size: 1.5rem;
  }
  #root .searchContent .card {
    cursor: pointer;
  }
  #root .searchContent .card:hover {
    background-color: rgb(225, 132, 132);
    color: white;
    transform: scale(105%);
  }
}/*# sourceMappingURL=App.css.map */